html,
body {
    background-color: antiquewhite;
}
 
.board {
    position: absolute;
    margin-left: 1rem;
    margin-top: 3rem;
}
.pc {
    width: 600px;
    border: 3px solid antiquewhite;
    border-radius: 0.7rem;
}

.x {
    margin-left: 2.5rem;
}

.y {
    margin-left: 10.1rem;
}

.z {
    margin-left: 18.7rem;
}

.note {
    opacity: 1;
    z-index: 1;
    top: 11.5rem;
    display: block;
    position: absolute;
    scale: 50%;
    cursor: pointer;
}

.code {
    z-index: 1;
    position: absolute;
    top: 23rem;
    margin-left: 8rem;
    margin-top: 3rem;
    font-family:Arial, Helvetica, sans-serif;
    text-wrap: nowrap;
    text-underline-offset: 1.2rem;
    text-overline-offset: 1rem;
    color: whitesmoke;
    font-size: 5rem;
    font-weight: bold;
}

.number {
    text-decoration: underline overline;
    opacity: 0.7;
}

div.preloader {
    display: none;
}